# powerlevel10k
source /usr/local/opt/powerlevel10k/powerlevel10k.zsh-theme

autoload -Uz compinit
compinit

# nvm / node
export NVM_DIR="$HOME/.nvm"
[ -s "/usr/local/opt/nvm/nvm.sh" ] && . "/usr/local/opt/nvm/nvm.sh"  # This loads nvm
[ -s "/usr/local/opt/nvm/etc/bash_completion.d/nvm" ] && . "/usr/local/opt/nvm/etc/bash_completion.d/nvm"  # This loads nvm bash_completion

# terraform
alias tfgraph="terraform graph | dot -Tsvg > graph.svg"
alias tf=terraform

# kubectl
source <(kubectl completion zsh)
alias k=kubectl

# krew
export PATH="${PATH}:${HOME}/.krew/bin"

# go path
export GOPATH=$HOME/.go
export PATH=$PATH\
:$GOPATH/bin

# iterm config
if [ $ITERM_SESSION_ID ]; then
  export PROMPT_COMMAND='echo -ne "\033]0;$PWD\007"; ':"$PROMPT_COMMAND";
fi

# run ls everytime you cd into a directory
chpwd() ls -ltra
